:root {
  --fs-xl: 4rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1.25rem;
  
  --nav: .9em;
  --title: 4vh;
  --legendmargin: -5.75rem;
  --fieldsetpad: 6rem;
  --fieldsetmarginleft: 4em;
  --fieldsetmarginright: 4em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff7e00;
  color: #ff0000;
}


@font-face {
  font-family: 'Sans Symbols';
  src: url(./fonts/NotoSansSymbols2-Regular.ttf);
}

@font-face {
  font-family: "Univers-next";
  src: url(./fonts/univers-next-pro-light.woff);
}

@font-face {
  font-family: "has";
  src: url(fonts/2F0FA1_3_0.woff);
}


/* HEADER */

.nav-list {
  display: flex;
  font-family: 'Univers-next', 'Sans Symbols';
  font-size: var(--nav);
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

#home-btn:hover {
  color: #ffffff;
  transition: .3s ease;
}

#about:hover {
  color: #ffffff;
  transition: .35s ease;
}

#add:hover {
  color: #ffffff;
  transition: .35s ease;
}


/* INDEX */

.main-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Univers-next';
  font-size: var(--fs-400);
  margin-top: 45vh;
  animation: transitionIn 1100ms ease-in;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'has';
  font-size: var(--fs-xl);
  margin-top: var(--title);
  animation: transitionIn 1100ms ease-in;
}

/* ADD */
.add-form-border {
  display: flex;
  border: 4px solid #ff0000;
  border-radius: 15px;
  height:80vh;
  margin: 40px 125px 40px 125px;
  animation: transitionIn 1100ms ease-in;
}

.add-titles {
  font-family: 'has';
  display: flex;
  flex-direction: column;
  /* border: 5px solid blue; */
  margin: 50px;
  width: 625px;
}

#add-paragraph {
  margin-top: 45px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid purple; */
  margin: 50px;
  width: 800px;
}

form {
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 250px;
  width: 750px;
}

.form-box {
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'has';
  margin: 5px 0px;  
}

.label-text {
  font-size: 24px;
}

#checklist-header {
  font-size: 20px;
  margin-top: 10px;
}

.input-control {
  width: 100%;
  height: 36px;
  font-family: 'has';
  color: #ff0000;
  padding-left: .25rem;
  background-color: #ff7e00;
  border: 3px solid #ff0000;
  border-radius: 5px;
}

.checklist-boxes {
  /* border: 4px solid brown; */
  margin: 3px 3px 3px 0px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 3px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-text {
  font-family: 'Univers-next';
  font-size: var(--fs-400);
  font-weight: 900;
  /* border: 2px solid white; */
  margin-left: 5px;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  color: #ff0000;
  font-size: 15px;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: #ffffff;
  border: 3px solid #ff0000;
}

input[type="checkbox"]:checked:after {
  display: block;
}


@media (min-width: 40em) {
  :root {
    --fs-xl: 8rem;
    --fs-600: 3rem;
    --fs-400: 1.1rem;

    --nav: 26px;
    --title: 15vh;
    --legendmargin: 0rem;
    --fieldsetpad: 1rem;
    --fieldsetmarginleft: 25em;
    --fieldsetmarginright: 25em;
  }
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }

  to {
      opacity: 1;
      transform: rotateX(0);
  }
}
