@import "./styles/variables.scss";

* {
  background-color: $bg;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@font-face {
  font-family: "has";
  src: url(fonts/2F0FA1_3_0.woff);
}

/* INDEX */

.index-main-text {
  font-family: 'has';
  font-size: 64px;
  animation: transitionIn 1400ms ease-in;
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }

  to {
      opacity: 1;
      transform: rotateX(0);
  }
}